@{
    Layout = null;
    ViewBag.Title = "古籍列表";
}
@using QX_Frame.Data.DTO;
@{
    BookCategoryViewModel bookCategoryViewModel = Model as BookCategoryViewModel;
    List<BookViewModel> bookList = bookCategoryViewModel.BookViewModelList;
    int count = bookList.Count;
    string articleTitleJian = ViewBag.ArticleTitleJian;
    string articleTitleFan = ViewBag.ArticleTitleFan;
    int totalCount = (bookCategoryViewModel.TotalCount % 30) > 0 ? (int)(bookCategoryViewModel.TotalCount / 30) + 1 : (int)(bookCategoryViewModel.TotalCount / 30);
    int pageIndex = Convert.ToInt32(ViewData["iDisplayStart"] ?? "1");
    string search_title = Convert.ToString(ViewData["search_title"]);
    int category_id = Convert.ToInt32(ViewData["search_categoryId"]);
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="lib/html5shiv.js"></script>
    <script type="text/javascript" src="lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="~/H-ui/h-ui.admin/css/style.css" />
    <style>
        /*
              * 外面盒子样式---自己定义
              */

        .page_div {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 15px;
            font-family: "microsoft yahei";
            color: #666666;
            margin-right: 10px;
            padding-left: 20px;
            box-sizing: border-box;
        }
            /*
             * 页数按钮样式
             */

            .page_div a {
                min-width: 30px;
                height: 28px;
                border: 1px solid #dce0e0 !important;
                text-align: center;
                margin: 0 4px;
                cursor: pointer;
                line-height: 28px;
                color: #666666;
                font-size: 13px;
                display: inline-block;
            }

        #firstPage,
        #lastPage {
            width: 50px;
            color: #0073A9;
            border: 1px solid #0073A9 !important;
        }

        #prePage,
        #nextPage {
            width: 70px;
            color: #0073A9;
            border: 1px solid #0073A9 !important;
        }

        .page_div .current {
            background-color: #0073A9;
            border-color: #0073A9;
            color: #FFFFFF;
        }

        .totalPages {
            margin: 0 10px;
        }

            .totalPages span,
            .totalSize span {
                color: #0073A9;
                margin: 0 5px;
            }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/common.js"></script>
    <!--[if IE 6]>
    <script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 古籍管理 <span class="c-gray en">&gt;</span> 古籍列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">

        <div class="text-c">
            <form action="/Article/List">
                <!-- <button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button> -->
                <span class="select-box inline">
                    <select name="categoryId" class="select">
                        <option value="0">全部</option>
                        @{
                            foreach (var item in bookCategoryViewModel.CategoryList)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        }
                    </select>
                </span>
                <!-- 日期范围：
                <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
                -
                <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;"> -->
                <input type="text" name="title" id="title" placeholder=" 古籍名称" style="width:250px" class="input-text">
                <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜古籍</button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <!-- <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> -->
                <a class="btn btn-primary radius" data-title="添加古籍" data-href="article-add.html" onclick="article_add('添加古籍','/Article/Add')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加古籍</a>
                <a href="javascript:document.getElementById('fileInput').click();" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量导入</a>
                <input id="fileInput" name="fileInput" type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" value="" hidden="hidden">
                <a href="/Article/ExportArticle" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量导出</a>
            </span> <span class="r">共有数据：<strong>@bookCategoryViewModel.TotalCount</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
                <thead>
                    <tr class="text-c">
                        <th width="25"><input type="checkbox" name="" value=""></th>
                        <th width="20">ID</th>
                        <th width="180">题名</th>
                        <th width="80">其他题名</th>
                        <th width="30">卷数</th>
                        <th width="40">朝代</th>
                        <th width="40">责任者</th>
                        <th width="50">分类</th>
                        <th width="40">版本</th>
                        <th width="40">出版者</th>
                        <th width="120">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int index = 0;
                        foreach (var item in bookList)
                        {
                            index++;
                            <tr class="text-c">
                                <td><input type="checkbox" value="" name=""></td>
                                <td>@index</td>
                                <td class="text-l">
                                    <u style="cursor:pointer" class="text-primary" onClick="article_edit('查看','/Article/Detail/@item.BookUid','10001')" title="查看">
                                        @if (!string.IsNullOrEmpty(articleTitleJian) && item.Title.Contains(articleTitleJian))
                                        {
                                            @Html.Raw(item.Title.Replace(articleTitleJian, "<span style=\"color:red;\">" + articleTitleJian + "</span>"));
                                        }
                                        else if (!string.IsNullOrEmpty(articleTitleFan) && item.Title.Contains(articleTitleFan))
                                        {
                                            @Html.Raw(item.Title.Replace(articleTitleFan, "<span style=\"color:red;\">" + articleTitleFan + "</span>"));
                                        }
                                        else
                                        {
                                            @item.Title;
                                        }
                                    </u>
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(articleTitleJian) && item.Title2.Contains(articleTitleJian))
                                    {
                                        @Html.Raw(item.Title2.Replace(articleTitleJian, "<span style=\"color:red;\">" + articleTitleJian + "</span>"));
                                    }
                                    else if (!string.IsNullOrEmpty(articleTitleFan) && item.Title2.Contains(articleTitleFan))
                                    {
                                        @Html.Raw(item.Title2.Replace(articleTitleFan, "<span style=\"color:red;\">" + articleTitleFan + "</span>"));
                                    }
                                    else
                                    {
                                        @item.Title2
                                    }
                                </td>
                                <td>@item.Volume</td>
                                <td>@item.Dynasty</td>
                                <td>@item.Functionary</td>
                                <td>@item.CategoryName</td>
                                <td>@item.Version</td>
                                <td>@item.Publisher</td>
                                <!-- <td class="td-status"><span class="label label-success radius">已发布</span></td> -->
                                <td class="f-14 td-manage">
                                    <a style="text-decoration:none" onClick="article_add('古籍详情','/Article/Read/@item.BookUid')" href="javascript:;" title="阅读"><i class="Hui-iconfont" style="font-size:20px;">&#xe720;</i></a>
                                    <a title="编辑" href="javascript:;" onclick="article_add('编辑古籍','/Article/Edit/@item.BookUid')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont" style="font-size:20px;">&#xe6df;</i></a>
                                    <a style="text-decoration:none" class="ml-5" href="javascript:article_del(this,'@item.BookUid');" title="删除"><i class="Hui-iconfont" style="font-size:20px;">&#xe6e2;</i></a>
                                    <a style="text-decoration:none" href="/Article/DownLoadImages/@item.BookUid?title=@item.Title" title="下载"><i class="Hui-iconfont" style="font-size:20px;">&#xe641;</i></a>
                                    <a style="text-decoration:none" onClick="article_add('古籍图片上传','/Article/UploadImages/@item.BookUid')" href="javascript:;" title="上传"><i class="Hui-iconfont" style="font-size:20px;">&#xe642;</i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <br />
            <div value="1 0"></div>
            <div id="page" class="page_div"></div>
        </div>
    </div>
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" src="~/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script type="text/javascript" src="~/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/lib/laypage/1.2/laypage.js"></script>
    <script src="~/Scripts/ajaxfileupload.js"></script>
    <script src="~/Scripts/paging.js"></script>
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#fileInput").bind("change", function ajaxFileUpload() {
                $.ajaxFileUpload({
                    type: 'post',
                    url: '/Article/ImportArticle',
                    secureuri: false,
                    fileElementId: 'fileInput',
                    dataType: 'json',
                    success: function (data) {
                        if (data.isSuccess) {
                            layer.msg(data.msg, { icon: 1, time: 1000 });
                            location.replace(location.href);//refresh
                        }
                        console.log(data.msg);
                    },
                    error: function (data) {
                        console.log(JSON.stringify(data));
                    }
                });
            });


            $('.table-sort').dataTable({
                "aaSorting": [[1, "asc"]],//默认第几个排序
                "bPaginate": false,//分页工具条显示
                "bStateSave": true,//状态保存
                "pading": false,
                "info": false,   //去掉底部文字
                "aoColumnDefs": [
                    //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
                    { "orderable": false, "aTargets": [0, 5, 6, 7, 8, 9, 10] }// 不参与排序的列
                ]
            });

            //分页
            $("#page").paging({
                pageNo: @pageIndex,
                totalPage: @totalCount,
                totalSize: @bookCategoryViewModel.TotalCount,
                callback: function (num) {
                    window.location = "/Article/List?iDisplayLength=30&iDisplayStart=" + num +"&categoryId=@category_id&title=@search_title";
                }
            })

            function matchSymbol(sym) {
                var containSpecial = RegExp(/[(\ )(\~)(\!)(\@@)(\#)(\$)(\%)(\^)(\&)(\*)(\()(\))(\-)(\_)(\+)(\=)(\[)(\])(\{)(\})(\|)(\\)(\;)(\:)(\')(\")(\,)(\.)(\/)(\<)(\>)(\?)(\)]+/);
                return (containSpecial.test(sym));
            }

        });

        /*古籍-阅读*/
        function article_show(title, url, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*古籍-添加*/
        function article_add(title, url, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*古籍-编辑*/
        function article_edit(title, url, id, w, h) {
            var index = layer.open({
                type: 2,
                title: title,
                content: url
            });
            layer.full(index);
        }
        /*古籍-删除*/
        function article_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {
                $.ajax({
                    type: 'POST',
                    url: '/Article/DeleteDeal/' + id,
                    dataType: 'json',
                    success: function (data) {
                        if (data.isSuccess) {
                            $(obj).parents("tr").remove();
                            layer.msg('已删除!', { icon: 1, time: 1000 });
                            location.replace(location.href);//refresh
                        }
                        else {
                            layer.msg('删除失败!', { icon: 1, time: 1000 });
                        }
                    },
                    error: function (data) {
                        console.log(data.msg);
                    },
                });
            });
        }

        /*古籍-审核*/
        function article_shenhe(obj, id) {
            layer.confirm('审核文章？', {
                btn: ['通过', '不通过', '取消'],
                shade: false,
                closeBtn: 0
            },
                function () {
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                    $(obj).remove();
                    layer.msg('已发布', { icon: 6, time: 1000 });
                },
                function () {
                    $(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,id)" href="javascript:;" title="申请上线">申请上线</a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
                    $(obj).remove();
                    layer.msg('未通过', { icon: 5, time: 1000 });
                });
        }
        /*古籍-下架*/
        function article_stop(obj, id) {
            layer.confirm('确认要下架吗？', function (index) {
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,id)" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
                $(obj).remove();
                layer.msg('已下架!', { icon: 5, time: 1000 });
            });
        }

        /*古籍-发布*/
        function article_start(obj, id) {
            layer.confirm('确认要发布吗？', function (index) {
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,id)" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                $(obj).remove();
                layer.msg('已发布!', { icon: 6, time: 1000 });
            });
        }
        /*古籍-申请上线*/
        function article_shenqing(obj, id) {
            $(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">待审核</span>');
            $(obj).parents("tr").find(".td-manage").html("");
            layer.msg('已提交申请，耐心等待审核!', { icon: 1, time: 2000 });
        }

    </script>
    <!--_footer 作为公共模版分离出去-->
    @*<script type="text/javascript" src="~/lib/jquery/1.9.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="~/H-ui/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="~/H-ui//h-ui.admin/js/H-ui.admin.js"></script>
    <!--/_footer 作为公共模版分离出去-->
</body>
</html>